body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 100px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;

}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

input[type="file"] {
    display: block;
    margin: 20px auto;
}
